<style type="text/css">
    body {
        background-image: url('<%- theme.jsDelivr.url %><%- url_for('/medias/banner/0.jpg') %>');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
    }
    .bg-color {
        background-image: none;
        opacity: 1;
    }
    .page-footer {
        background-color: transparent;
    }
</style>

<%- partial('_partial/bg-cover') %>

<main class="content">

    <div id="aboutme" class="container about-container">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div>
                        <div class="profile center-align">
                            <div class="author">
                                <div class="title"><%- config.author %></div>
                                <div class="career"><%- theme.profile.career %></div>
                            </div>
                        </div>
                    </div>
                </div>

                <% if (theme.myProjects && theme.myProjects.enable) { %>
                <%- partial('_widget/my-projects') %>
                <% } %>

                <% if (theme.mySkills && theme.mySkills.enable) { %>
                <%- partial('_widget/my-skills') %>
                <% } %>

                <% if (theme.myGallery && theme.myGallery.enable) { %>
                <%- partial('_widget/my-gallery') %>
                <% } %>

                <% if (theme.artitalk && theme.artitalk.enable) { %>
                <%- partial('_widget/artitalk') %>
                <% } %>

            </div>
        </div>
    </div>
</main>
